.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 68px;
  @include sm {
    margin-bottom: 20px;
  }
  &__logo {
    @include md {
      width: 170px;
    }
    @include sm {
      width: 145px;
    }
  }
  &__nav {
    & a {
      color: $colour-primary;
      font-size: 24px;
      font-weight: 500;
      margin-left: 57px;
      @include md {
        font-size: 20px;
        margin-left: 20px;
      }
      @include sm {
        font-size: 12px;
        margin-left: 10px;
        text-transform: uppercase;
      }
    }
  }
}

.active {
  text-decoration: underline;
}

.nav-link {
  text-decoration: none;
}
