.apartment {
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    @include sm {
      align-items: baseline;
      flex-direction: column;
      margin-bottom: 16px;
    }
    &__infos {
      color: $colour-primary;
      &__title {
        margin: 0;
        font-size: 36px;
        font-weight: 500;
        @include md {
          font-size: 24px;
        }
        @include sm {
          font-size: 18px;
          margin-bottom: 5px;
        }
      }
      &__location {
        margin: 0 0 23px 0;
        font-size: 18px;
        font-weight: 500;
        @include md {
          font-size: 18px;
        }
        @include sm {
          font-size: 14px;
          margin: 0 0 10px 0;
        }
      }
      &__tags {
        &__button {
          height: 25px;
          padding: 0 20px;
          color: $colour-white;
          font-size: 14px;
          font-weight: 500;
          font-family: montserrat;
          margin-right: 10px;
          background-color: $colour-primary;
          border-radius: 10px;
          border-style: none;
          @include md {
            padding: 0 15px;
            font-size: 12px;
          }
          @include sm {
            height: 18px;
            padding: 0 10px;
            font-size: 10px;
            border-radius: 5px;
          }
        }
      }
    }
    &__host {
      @include sm {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        margin-top: 16px;
      }
      &__profile {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: 3px;
        margin-bottom: 27px;
        @include sm {
          margin-right: 1px;
          margin-bottom: 0;
        }
        &__name {
          display: flex;
          flex-direction: column;
          color: $colour-primary;
          font-size: 18px;
          font-weight: 500;
          margin-right: 10px;
          @include md {
            font-size: 16px;
          }
          @include sm {
            font-size: 12px;
          }
        }
        &__picture {
          height: 64px;
          border-radius: 50%;
          @include md {
            height: 54px;
          }
          @include sm {
            height: 32px;
          }
        }
        &__note {
          display: flex;
          flex-wrap: nowrap;
          &__stars {
            height: 24px;
            margin-left: 15px;
            @include md {
              height: 18px;
              margin-left: 10px;
            }
            @include sm {
              height: 13px;
              margin-left: 6px;
            }
          }
        }
      }
    }
  }
  &__collapse {
    display: flex;
    justify-content: space-between;
    @include sm {
      flex-direction: column;
    }
  }
}
