body {
  margin: 0 100px;
  font-family: montserrat, sans-serif;
  @include md {
    margin: 0 20px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
